body {
  margin: 0;
}
main {
  position: absolute;
  background-color: rgb(183, 255, 128);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
div#navBar {
  background-color: rgb(154, 212, 111);
  width: 12%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: baseline;
}
.tab {
  background-color: rgb(121, 163, 88);
  margin-top: 5%;
  border-radius: 25px;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  gap: 2%;
  cursor: pointer;
}
.icon {
  max-width: 30%;
  max-height: 100%;
}
.tabText {
  color: white;
  font-size: 130%;
  flex-grow: 1;
  overflow: hidden;
}

div#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
div#title {
  min-width: 40%;
  height: 10%;
  flex-shrink: 0;
}
h1#title {
  margin: 0;
  color: rgb(84, 84, 84);
  font: bold 10vh arial;
  text-align: center;
}
div#orders {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2%;
  column-gap: 1%;
  row-gap: 5%;
  flex-wrap: wrap;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#orders::-webkit-scrollbar {
  display: none;
}

div.singleOrder {
  background-color: rgb(255, 255, 255);
  border: 0.9vmin solid rgb(0, 0, 0);
  width: 20%;
  max-height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartId {
  position: relative;
  box-shadow: 0 0.6vmin 0 #000;
  width: 80%;
  height: 15%;
  text-align: center;
  flex-grow: 0;
}
.idTxt {
  overflow: hidden;
  font-size: 1em;
  z-index: 2;
}
.products {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.products::-webkit-scrollbar {
  display: none;
}
.productTxt {
  background-color: hsl(0, 0%, 85%);
  font-size: 150%;
  padding: 3%;
  border-radius: 25px;
  margin-top: 5%;
  margin-left: 2%;
  height: 10%;
}

.admOptions {
  display: flex;
  gap: 4%;
  justify-content: flex-end;
  align-items: center;
}
.admBtn {
  width: 13%;
  cursor: pointer;
}
